aniso8601
asn1crypto
backports.entry-points-selectable
bcrypt
blinker
certifi
cffi
charset-normalizer
click
distlib
filelock
Flask
Flask-Bcrypt
Flask-Cors
Flask-JWT-Extended
Flask-Mail
Flask-RESTful
Flask-SQLAlchemy
Flask-WTF
greenlet
gunicorn
idna
itsdangerous
Jinja2
joblib
MarkupSafe
mysqlclient
numpy
pipenv
platformdirs
pycparser
PyJWT
PyMySQL
python-dotenv
pytz
requests
scikit-learn
scipy
scramp
six
sklearn
SQLAlchemy
threadpoolctl
urllib3
virtualenv
virtualenv-clone
Werkzeug
WTForms
