aniso8601==9.0.1
backports.entry-points-selectable==1.1.1
bcrypt==3.2.0
certifi==2021.10.8
cffi==1.15.0
click==8.0.3
distlib==0.3.3
filelock==3.3.2
Flask==2.0.2
Flask-Bcrypt==0.7.1
Flask-JWT-Extended==4.3.1
Flask-RESTful==0.3.9
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
mysqlclient==2.0.3
pipenv==2021.11.15
platformdirs==2.4.0
pycparser==2.21
PyJWT==2.3.0
PyMySQL==1.0.2
python-dotenv==0.19.2
pytz==2021.3
scramp==1.2.0
six==1.16.0
SQLAlchemy==1.4.27
virtualenv==20.10.0
virtualenv-clone==0.5.7
Werkzeug==2.0.2
